@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
/* text from google fonts */
/* all css reset:https://meyerweb.com/eric/tools/css/reset/ */

/* flex start */
.flex{
    display: flex;
}
/* flex-wrap */
.flex-wrap{
    flex-wrap: wrap;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
/* flex-direction */
.flex-down{
    flex-direction: column;
}
.flex-up{
    flex-direction: column-reverse;
}
.flex-right{
    flex-direction: row;
}
.flex-left{
    flex-direction: row-reverse;
}
/* align-content */
.align-c-center{
    align-content: center;
}
.align-c-up{
    align-content: flex-start;
}
.align-c-down{
    align-content: flex-end;
}
.align-c-aroud{
    align-content: space-around;
}
.align-c-between{
    align-content: space-between;
}
.align-c-stretch{
    align-content: stretch;
}
/* justify-content */
.jc-center{
    justify-content: center;
}
.jc-up{
    justify-content: flex-start;
}
.jc-down{
    justify-content: flex-end;
}
.jc-between{
    justify-content: space-between;
}
.jc-around{
    justify-content: space-around;
}
.jc-evenly{
    justify-content: space-evenly;
}
/* align-items */
.align-i-center{
    align-items: center;
}
.align-i-up{
    align-items: flex-start;
}
.align-i-down{
    align-items: flex-end;
}
.align-i-stretch{
    align-items: stretch;
}
.align-i-baseline{
    align-items: baseline;
}